* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 1vw; /* 1vw = 1% ширина экрана */
}

body {
  background: #171a21;
}
.slider {
  margin: 0 auto; /* Центрирование по горизонтали */
  padding-top: 10rem;
  width: 92rem;
  height: 26rem;

  display: flex;
  align-items: center;
  overflow-x: auto;
}
.slider:first-child {
  padding-left: 4rem;
}
.slider:last-child {
  padding-right: 4rem;
}
.slide {
  width: 16rem;
  height: 24rem;
  position: relative;
  flex-shrink: 0; /* Чтобы блоки не сжимались, пытаясь влезть в одну строку*/

  margin-right: 1.6rem;

  box-sizing: border-box;
}
.slide:last-of-type {
  margin-right: 0;
}
.slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.15rem solid #fff;
  border-radius: 1.25rem;
}
.game-info {
  position: absolute;
  height: inherit;
  width: inherit;

  display: none;

  text-align: center;

  background: rgba(0, 0, 0, 0.25);
  border: 0.2rem solid rgba(255, 255, 255, 0);
  border-radius: 1.25rem;
}
.game-info p {
  color: gold;
  font-family: "Bahnschrift";
  font-size: 2.5rem;
  padding-top: 9rem;
}
.slide:hover .game-info {
  display: block;
}
.slide:hover img {
  opacity: 0.3;
}
.slider::-webkit-scrollbar {
  height: 0.3125rem;
}
.slider::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}
.slider:hover::-webkit-scrollbar-thumb {
  background: gray;
}
